Source: blankon-lintian
Section: misc
Priority: optional
Maintainer: BlankOn Developers <BlankOn@googlegroups.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.3

Package: blankon-lintian
Priority: important
Architecture: all
Multi-Arch: foreign
Depends: lintian
Description: BlankOn Lintian vendor profile

Package: blankon-lintian-udeb
Architecture: all
Section: debian-installer
Description: BlankOn Lintian vendor profile
